<%- include('./partials/header', {page : 'Home', role : 'admin'}) %>
<div class="container mt-5 mb-5">
    <div class="col-md-8 p-4 border rounded-left bg-light">
        <h3>Add Company</h3>
        <hr>
        <form action="" method="POST">
            <div class="form-group">
                <label for="name">Company Name</label>
                <input type="text" class="form-control" id="name" name="companyName">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address">
            </div>
            <div class="form-group">
                <label for="sector">Sector</label>
                <input type="text" class="form-control" id="sector" name="sector">
            </div>

            <div class="form-group">
                <label for="username">Company User</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="email">Company Email</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>
<%- include('./partials/footer')%>