<%- include('./partials/header', {page : 'Admin'}) %>
<div class="container mt-5">
    
    <h3 class="text-center">Company List</h3>
    <a href="/add/company" class="btn btn-primary float-right my-2">Add Company</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Sector</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div>
<%- include('./partials/footer')%>